.conversor-container {
  border: 1px solid black;
  text-align: center;
  box-shadow: 0 0 10px grey;
}

.clp-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clp-input-container input {
  height: 1rem;
  margin-left: 1rem;
}

.currency-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-picker-container select {
  height: 1.5rem;
  margin-left: 1rem;
}

#chart {
  box-shadow: 0 0 10px;
  margin-top: 2rem;
}
